<div class="h-[60vh]" *ngIf="process==true">
    <app-processing></app-processing>
</div>

<div class="flex items-center justify-center">
    <div class="font-bold">
      <h1> {{messageData.message}} </h1>
    </div>
</div>

<div class="m-3">
    <button routerLink="/history"
      class="w-full bg-white tracking-wide text-gray-800 font-bold rounded border-b-2 border-red-500 hover:border-red-600 hover:bg-red-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">
      <span class="mx-auto">If not redirect automatically click to go</span>
    </button>
  </div>