<section
class="h-screen bg-center bg-no-repeat bg-cover font-poppins dark:bg-gradient-to-r dark:from-gray-600 dark:to-gray-500">
<div class="flex items-center h-full lg:h-screen">
    <div class="justify-center max-w-6xl px-2 mx-auto text-center ">
        <div class="w-full p-4 bg-white lg:p-16 dark:bg-gray-700">
            <h1 class="inline-block mb-8 font-bold text-gray-700 text-7xl lg:text-9xl dark:text-gray-300"> 404
            </h1>
            <h2 class="mb-6 text-2xl font-semibold text-gray-600 lg:text-4xl dark:text-gray-300">
                Oops! Page not found</h2>
            <p class="mb-8 text-xs text-gray-600 lg:text-xl dark:text-gray-300">
                Sorry! The requested page not found.You might try a search below...
            </p>
            <div class="flex flex-wrap items-center justify-center">
                <a href="#"
                    class="px-8 py-4 text-xs font-medium text-gray-100 uppercase bg-primary rounded-full lg:text-base dark:bg-green-800 dark:hover:bg-green-900 md:w-auto ">
                    Back to home
                </a>
            </div>
        </div>
    </div>
</div>
</section>